<%= form_tag(visitors_contact_path, method: "post") do %>
  <div>
    <%= label_tag(:name, "Your Name") %>
    <%= text_field_tag(:name) %>
  </div>

  <div>
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email) %>
  </div>

  <div>
    <%= label_tag(:message, "Message") %>
    <%= text_area_tag(:message) %>
  </div>
  <%= submit_tag("Contact!") %>
<% end %>

